<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="OfficeCacheFolder" value="C:\Users\Ajden\AppData\Local\Microsoft\Office\15.0\OfficeFileCache"/>
    <add key="LastAccessTimeMinutesBeforeDelete" value="5"/>
  </appSettings>
</configuration>